<link href="~/css/login.css" rel="stylesheet" />
@if(TempData["erro"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["erro"]
                </div>
            }


    <div class="row">
        <div class="offset-4 col-4">
            <form action="/Login/Entrar" method="post">
            <section class="login">
                <span class="title">Login</span>

                <label class="users">Usuário:</label>
                <br />
                <input type="text" name="login" class="field" />
                <br />
                <label class="users">Senha:</label>
                <br />
                <input type="password" name="senha" class="field" />
                <br />
                <button type="submit" class="botao">ENTRAR</button>
            </section>
            </form>
        </div>
    </div>