@model Natucare.Entidades.CadastroCliente

@{
    ViewData["Title"] = "Edit";
}

<link href="~/css/cadastrocliente.css" rel="stylesheet" />
<header class="header">
    <span class="font">Edição de Clientes</span>
</header>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label users"></label>
                <input asp-for="Nome" class="form-control field" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereço" class="control-label users"></label>
                <input asp-for="Endereço" class="form-control field" />
                <span asp-validation-for="Endereço" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label users"></label>
                <input asp-for="Telefone" class="form-control field" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="botao" />
            </div>
            <div>
                <button asp-action="Index" class="cancel">Cancelar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
